files:
  /var/app/staging/voltage/admin.macaroon:
    source: https://n2n2-keys.s3.amazonaws.com/admin.macaroon
  /var/app/staging/voltage/tls.cert:
    source: https://n2n2-keys.s3.amazonaws.com/tls.cert
  /var/app/staging/voltage/sphinx.db:
    source: https://n2n2-keys.s3.amazonaws.com/sphinx.db
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          roleName: aws-elasticbeanstalk-ec2-role
          buckets: n2n2-keys