files:
  /tmp/voltage/admin.macaroon:
    authentication: "S3Auth"
    source: https://n2n2-keys.s3.amazonaws.com/admin.macaroon
  /tmp/voltage/tls.cert:
    authentication: "S3Auth"
    source: https://n2n2-keys.s3.amazonaws.com/tls.cert
  /tmp/voltage/sphinx.db:
    authentication: "S3Auth"
    source: https://n2n2-keys.s3.amazonaws.com/sphinx.db
 
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["n2n2-keys"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"