files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/70_copy_keys.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            mkdir -p /tmp/deployment/application/voltage/
            cp /tmp/voltage/* /tmp/deployment/application/voltage/. 