listen=0.0.0.0:9735
rpclisten=0.0.0.0:10009

bitcoin.testnet=1
bitcoin.active=1
bitcoin.node=neutrino
accept-keysend=1

ignore-historical-gossip-filters=true
numgraphsyncpeers=1
routing.assumechanvalid=1
autopilot.active=false

adminmacaroonpath=/relay/.lnd/data/chain/bitcoin/testnet/admin.macaroon
neutrino.feeurl=https://nodes.lightning.computer/fees/v1/btc-fee-estimates.json
neutrino.connect=faucet.lightning.community
